<!DOCTYPE html>
<html lang="{{ site.locale }}">
  
  {% include head.html %}

  <body>
    {% include page-header.html %}

    <section class="main-content">
      <h2>{{ page.title | default: ""}}</h2>
      {% if page.is_post %}
          <span class="date">{{ page.date | date: '%B %d, %Y' }}</span>
      {% endif %}
      {{ content }}

      {% if page.is_post %}
        <br />
        <h2>Leave a reply...</h2>
        <form method="GET" action="mailto:afternoon.tea.dinner.supper@gmail.com">
          <input type="hidden" name="_next" value="https://second-breakfast.github.io/thanks.html"/>
          <input type="subject" name="name" placeholder="Your name" required><br />
          <textarea name="body" placeholder="Message" required></textarea><br />
          <button class="btn" type="submit">Submit</button>
        </form>
      {% endif %}

      {% include page-footer.html %}

    </section>

  </body>
</html>
